#wrapper{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
}

#navegador_secciones{
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav_button{
	background: rgb(0,0,0,0.7);
	color: white;
	border: 2px solid orangered;
	border-radius: 10px;
	margin: 5px;
	padding: .5em;
	transition: color .1s ease-in-out;
}

.nav_button:hover{
	color: black;
}