.div_utilidad{
	font-family: 'Jetbrains Mono', sans-serif;
	background: grey;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
}

.titulo_utilidad{
	font: bold;
	color: skyblue;
}

#articulo_extraido_div{
	font-family: 'Roboto', sans-serif;
	font-weight: 350;
	font-style: normal;
	color: black;
	margin: 5px;
	border-radius: 5px;
	background: rgb(255,0,0,0.2);
	padding: 10px;
}

#articulo_extraido_titulo{
	font: bold;
	font-weight: 500;
}