#glossary_wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	border-width: 2px;
	border-color: black;
	height: 100vh;
}

#glossaryDefinitionDiv{
	display: flex;
	grid-column-start: 2;
	align-items: top;
}

#currentDefinitionShown{
	h3{
		font: bold;
		font-size: 30px;
		justify-content: center;
	}
	p{
		font-size: 30px;
		color: green;
	}
}

#glossary_search_column{
	grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#glossary_search_input{
	border: 2px solid black;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	margin: 10px;
	border-radius: 10px;
}


.glossaryListButton{
	font-size: 20px;
	color: rgb(0,0,0,.2);
	background: white;
	border: 2px solid orange;
	margin: 3px;
	border-radius: 4px;
	min-width: 100%;
}

.glossaryListButton:hover, .glossaryListButton:focus{
	background: aliceblue;
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
	color: black;
}

.pinnedDefinitionDiv{
	border: 2px solid black;
	margin: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.pinnedDefinitionDiv:hover{
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}

li{
	list-style: none;
}

#glossary_right_column{
	display: flex;
	flex-direction: column;
	grid-column-start: 3;
	max-height: 100vh;
	overflow-y: scroll;
	padding: 2em;
}