#wrapper{
	display: grid;
	grid-template-rows: .6fr 3fr;
}

#buscador_articulos_constitucion{
	justify-self: center;
	grid-row-start: 1;
}

#extractedDocsDiv{
	grid-row-start: 2;
	height: 100vh;
	overflow-y: scroll;
}

.div_utilidad{
	font-family: 'Jetbrains Mono', sans-serif;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.utility_title{
	color: skyblue;
}

.extracted_article_div{
	font-family: 'Roboto', sans-serif;
	font-weight: 350;
	font-style: normal;
	color: black;
	margin: 10px;
	border-radius: 5px;
	background: rgb(255,0,0,0.2);
	padding: 10px;
}

.ce_article_title{
	font: bold;
	font-weight: 500;
}

#articulo_extraido_contenido_div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}

button {
  background-color: salmon;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-decoration: none;

  font-size: 10px;
  cursor: pointer;
  border: none;

  transition: background-color .2s ease-in-out;

  margin: 2px;
  padding: 2px, 0px, 2px, 0px;
}

button:hover{
	background-color: black;
}

#copy_extracted_doc_button:hover{
	.ce_article_explanation_paragraph{
		color: blue;
		font: bold;
	}
}